{% extends "base.html" %}
{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/cart_detail.css' %}">

{% endblock %}

{% block title %}
    <title>Spartan-helmet | Cart</title>
{% endblock %}

{% block content %}
    <h2 class="title">Your shopping cart</h2>
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            <div class="cart col-md-8 offset-2">
            <table class="cart">
                <thead>
                <tr>
                    <th class="col-md-3"></th>
                    <th class="col-md-2">Item</th>
                    <th class="col-md-2 offset-1">Quantity</th>
                    <th class="col-md-2 offset-1">Remove</th>
                    <th class="col-md-2 offset-1">Unit price</th>
                    <th class="col-md-2 offset-1">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td class="col-md-3">
                                <a target="_blank" href="{% url "Item page" product.category.name product.name %}">
                                    <img src="
                                        {% if product.main_image %}
                                            {{ product.main_image.url }}
                                        {% else %}
                                            {% static "img/no_image.png" %}
                                        {% endif %}" alt="">
                                </a>

                            </td>
                            <td class="col-md-2"><a target="_blank"
                                                    href="{% url "Item page" product.category.name product.name %}">
                                {{ product.name }}</a></td>
                            <td class="col-md-2 offset-1"><a style="font-size: 16pt" href="{% url "minus_one" product.id item.quantity %}">-  </a>{{ item.quantity }}
                                <a style="font-size: 16pt" href="{% url "plus_one" product.id item.quantity %}">  +</a></td>
                            <td><a href="{% url "cart_remove" product.id%}"><img style="width:15%" src=" {% static "images/remove.png" %}" alt=""></a></td>
                            <td class="col-md-2 offset-1 num">${{ item.price }}</td>
                            <td class="col-md-2 offset-1 num">${{ item.total_price }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr style="height:70px">
                    <td>

                    </td>
                </tr>
                <tr class="total" style="margin-top:5%">
                    <td>Total</td>
                    <td colspan="4"></td>
                    <td class="num">${{ cart.get_total_price }}</td>
                </tr>
                <p style="color:red">{{ session_info }}</p>
                </tbody>
            </table>
            <p class="text-right" style="margin-top:5%">
                <a href="{% url "Showcase" %}" class="btn btn-outline-dark">Continue shopping</a>
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        <a href="{% url "order_create" %}" class="btn btn-dark">Checkout</a>
                    {% endif %}
                {% endwith %}
            </p>
        </div>
        {% else %}
            <div class="col-md-4 offset-4" style="margin-top: 5%; text-align: center">
                <a href="{% url "Showcase" %}" class="btn btn-outline-dark">Continue shopping</a>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}