{% extends "base.html" %}
{% load static %}


{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/category_items.css' %}">

{% endblock %}


{% block content %}

    {% if access_allowed or not category_object.hidden %}
        <br>
        <h3 style="text-align: center">{{ category_name }}</h3>

        <div class="col-10 offset-1">
            {% for item in category_items %}

                <div class="items_layout col-4">
                    <a href="{% url "Item page" category_name item.name %}">
                        <figure>
                            <img class="item_image" src="{{ item.main_image.url }}" alt="{{ item.name }}">
                            <figcaption>{{ item.name }}</figcaption>
                        </figure>
                    </a>
                </div>

            {% endfor %}
        </div>
    {% endif %}



{% endblock %}