{% extends "base.html" %}
{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/item.css' %}">
    <link rel="stylesheet" href="{% static 'css/dialog-modal.css' %}">

{% endblock %}


{% block title %}
    <title>Spartan-helmet | {{ item.name }}</title>
{% endblock %}

{% block content %}

    {% if user.is_superuser %}
        <div class="row m-0">
            <a href="{% url "edit_item" item.id %}" class="col-md-2 offset-1 btn btn-outline-dark" type="button">Изменить товар</a>
            <h3 class="col-md-4 offset-1" style="text-align: center">{{ item.name }}</h3>
            <a href="{% url "remove_item" item.name %}" class="col-md-2 offset-1 btn btn-outline-danger" type="button">Удалить товар</a>
        </div>
    {% else %}
        <div class="row m-0">
            <h3 class="col-md-4 offset-4" style="text-align: center">{{ item.name }}</h3>
        </div>
    {% endif %}

    <div class="row m-0">
        <div class="item_images_div col-md-3 offset-1" style="margin-top: 2%">
            <img id="item_cover" class="item_images" style="width:100%" src="{{ item.main_image.url }}" alt="{{ item.name }}">
            <div class="row" style="margin-top: 2%">
                {% for image in images %}
                    <div class="col-md-4 image_layout">
                        <img class="item_images" src="{{ image.image.url }}" alt="{{ image.caption }}">
                        {% if user.is_superuser %}
                            <div class="remove_image" style="width:15%">
                                <a href="{% url "remove_item_image" image.id %}"><img src="{% static 'images/remove.png' %}" style="width:100%"></a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                {% if user.is_superuser %}
                    <a href="#" id="call_add_image" onclick="show_add_image_dialog()" style="display: block; background: none; font-size: 46pt; text-align:center">+</a>
                {% endif %}
            </div>
            <div class="dialog" id="modal_add_image" style="display: none">
                <div class="dialog-modal-content">
                    <form name="item_image" action="{% url 'add_item_image' item.id %}" method="post" enctype="multipart/form-data" style="text-align: center">
                        {% csrf_token %}
                        <span onclick="close_modal()" id="close" class="dialog-modal-close-btn">&times;</span>
                        <input type='file' name="image_file" title="Выбрать изображение" id="image_file">
                        <br>
                        <!--<label for="image_desc">Подпись к изображению</label>-->
                        <textarea id="image_desc" name="image_desc" title="image_desc" style="margin-top: 4%"
                                  placeholder="Подпись изображения "></textarea>
                        <br>
                        <button type="submit" class="btn btn-dark" style="margin-top:5%">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="item_info col-md-6" style="margin-top: 2%">
            <p>{{ item.description }}</p>
            <p class="price">Weight: {{ item.weight }}g</p>
            <p class="price">Price: {{ item.currency_price }}₮</p>
            <form action="{% url "cart_add" item.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-danger" value="Add to cart">
            </form>
        </div>
    </div>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01" alt="img01">
        <div id="caption"></div>
    </div>

    <script type="text/javascript">
        let modal = document.getElementById("myModal");
        let img = document.getElementById("item_cover");
        let  modalImg = document.getElementById("img01");
        let captionText = document.getElementById("caption");
        let all_images = document.getElementsByClassName("item_images")

        for (let i = 0; i < all_images.length; i++) {
            all_images.item(i).onclick = function() {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
        }

        let span = document.getElementsByClassName("close")[0];



        span.onclick = function() {
            modal.style.display = "none";
        }

        function show_add_image_dialog() {
            let dialog = document.getElementById("modal_add_image")
            console.log(dialog)

            dialog.style.display = "block"
        }

        function close_modal() {
            let dialog = document.getElementById("modal_add_image")
            dialog.style.display = "none"

        }


        function send_item_image_data() {
            document.forms['item_image'].submit()
        }

    </script>

{% endblock %}