{% extends "base.html" %}
{% load static %}


{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/showcase.css' %}">

{% endblock %}


{% block title %}
    <title>Spartan-helmet | Showcase</title>
{% endblock %}

{% block content %}

    <div class="showcase container">

        <div class="row">

            {% for category in available_categories %}

                <div class="category_layout col-4">
                    <a href="{% url "Category items" category.name %}">
                        <figure>
                            <img class="category_image" src="{{ category.image.url }}" alt="{{ category.name }}">
                            <figcaption>{{ category.name }}</figcaption>
                        </figure>
                    </a>

                </div>

            {% endfor %}

            {% if user.is_superuser %}
                <div class="category-layout col-4">
                    <a  href="{% url "add_category" %}" style="display: block; background: none; margin-top: 30%; font-size: 46pt; text-align:center">+</a>
                </div>
            {% endif %}

        </div>

    </div>


{% endblock %}