{% extends "base.html" %}
{% load static %}


{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/showcase.css' %}">

{% endblock %}


{% block title %}
    <title>Spartan-helmet | Showcase</title>
{% endblock %}

{% block content %}

    <div class="showcase container">

        <div class="row">

            {% for category in available_categories %}

                <div class="category_layout col-4">
                    <a href="{% url "Category items" category.name %}">
                        <figure>
                            <img class="category_image" src="{{ category.image.url }}" alt="{{ category.name }}">
                            <figcaption>{{ category.name }}</figcaption>
                        </figure>
                    </a>

                </div>


            {% endfor %}

        </div>

    </div>


{% endblock %}