{% extends "base.html" %}
{% load static %}


{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/showcase.css' %}">

{% endblock %}


{% block content %}

    <div class="showcase container">

        <div class="row">

            {% for category in categories_list %}

                {% if access_allowed or not category.hidden  %}

                    <div class="category_layout col-4">
                        <a href="{% url "Category items" category.name %}">
                            <figure>
                                <img class="category_image" src="{{ category.image.url }}" alt="{{ category.name }}">
                                <figcaption>{{ category.name }}</figcaption>
                            </figure>
                        </a>

                    </div>

                {% endif %}

            {% endfor %}

        </div>

    </div>


{% endblock %}