{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}

    <title>Sign up</title>

{% endblock %}

{% block content %}

<div class='row' style="margin-top:3%">

    <div class="col-md-6 offset-md-3" style="text-align:center">

        <form method="POST">
            {{ user_form.as_p }}
            {% csrf_token %}
            {{ form|crispy }}
                <input type="submit" class="btn btn-success" style="background-color: black" value="Create account">
        </form>

    </div>

</div>

{% endblock %}