{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Spartan-helmet | Who we are</title>
{% endblock %}


{% block content %}

    <div class="col-10 offset-1">
        <img src="{% static 'images/WHO-WE-ARE.jpg' %}" alt="Instagram" style="width:65%;display:block;margin-left: auto;margin-right: auto">

        <br>

        <p style="text-align: center;">
            In 2010, we created our first paracord bead for our Combat Knife School "SIRIN".

            We include the bird symbol of our school on every bead.<br>

            SIRIN mythological creature of Russian legends, with the head and chest of a beautiful woman and the body of a bird.

            Our artisans design and cast our own beads with great care & attention to detail using only the finest of materials.<br>

            It is our hope that you will find true beauty and quality in our work.

            Wear it with true Spartan Spirit !</p>
    </div>

{% endblock %}