{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Spartan-helmet |{{ customer.usrname }} orders</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
{% endblock %}

{% block content %}

    {% if user.is_superuser %}

        <div class="row m-0">
            <div class="col-md-4 offset-4" style="text-align: center">
                <h3>All customer's orders:</h3>

                {% for order in all_orders %}

                    <div class="col-md-6 offset-3 order_layout">
                        <p>{{ order.created }}</p>
                        <p>Пользователь: {{ order.user.username }}</p>
                        <form name="order_status" action="{% url "update_order_status" order.id %}" method="get">
                            <input style="display: none" name="order_id" value={{ order.id }}>
                            <label for="status_input">Статус: </label>
                            <select name="status_input" oninput="send_order_status()">
                                <option value="Processing">В обработке</option>
                                <option style="color:green" value="Shipping">Доставка</option>
                            </select>

                        </form>
                        <p>Weight: {{ order.total_weight }}g</p>
                        <p>Shipping price: {{ order.shipping_price }}₮</p>
                        <p>Total price: {{ order.total_price }}₮</p>

                        <div class="order_detail_info">
                            {% for item in order.items.all %}
                                <p>{{ item.product }} x {{ item.quantity }}</p>
                            {% endfor %}
                            <p>{{ order.phone_number }}</p>
                            <p>{{ order.email }}</p>
                            <p>{{ order.address }}</p>
                            <p>{{ order.postal_code }}</p>
                            <p>{{ order.city }}</p>
                        </div>

                    </div>

                {% endfor %}
            </div>

            <div class="col-3">
                <a style="font-size: 18pt; color: #e31f0b;"  href="{% url "account_details" %}">Account details</a>
            </div>
        </div>

    {% else %}

        <div class="row m-0">
            <div class="col-md-4 offset-4" style="text-align: center">
                <h3>{{ last_order.first_name}} orders:</h3>

                {% for customer_order in customer_orders %}

                    <div class="col-md-6 offset-3 order_layout">
                        <p>{{ customer_order.created }}</p>
                        <p>Status: {{ customer_order.status }}</p>
                        <p>Weight: {{ customer_order.total_weight }}g</p>
                        <p>Shipping price: {{ customer_order.shipping_price }}₮</p>
                        <p>Total price: {{ customer_order.total_price }}₮</p>

                        <div class="order_detail_info">
                            {% for item in customer_order.items.all %}
                                <p>{{ item.product }} x {{ item.quantity }}</p>
                            {% endfor %}
                            <p>{{ customer_order.phone_number }}</p>
                            <p>{{ customer_order.email }}</p>
                            <p>{{ customer_order.address }}</p>
                            <p>{{ customer_order.postal_code }}</p>
                            <p>{{ customer_order.city }}</p>
                        </div>

                    </div>

                {% endfor %}
            </div>

            <div class="col-3">
                <a style="font-size: 18pt; color: #e31f0b;"  href="{% url "account_details" %}">Account details</a>
            </div>
        </div>

    {% endif %}

    <script>
        function send_order_status() {
                document.forms['order_status'].submit()
            }
    </script>


{% endblock %}